@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Fira+Sans:wght@400;500&family=Inter:wght@500;700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	background: #090a0c !important;
	font-family: "Euclid Circular Regular";
	overflow-y: auto;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}

@font-face {
	font-family: "Euclid Circular Regular";
	src: url("../assets/fonts/EuclidRegular.ttf");
}

@font-face {
	font-family: "Euclid Circular Medium";
	src: url("../assets/fonts/EuclidMedium.ttf");
}

@font-face {
	font-family: "Euclid Circular Bold";
	src: url("../assets/fonts/EuclidBold.ttf");
}

.list-menu-item {
	color: #fff !important;
	background: #33363f;

	p,
	span {
		color: #fff !important;
	}
}

.select-component {
	& > div {
		& > div:focus {
			background-color: transparent;
		}
	}
}

.red {
	color: #7df17b;
}

.list {
	margin-top: 32px;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	background: #33363f;
}

.test-list-item {
	display: flex;
	transition: 0.3s ease;
	background: #f1f1f1;
	box-shadow: inset -1px 2px 4px rgba(0, 0, 0, 0.17);
	border-radius: 4px;

	&-active {
		background-color: #7df17b !important;

		span {
			color: #fff;

			&:first-child {
				font-weight: 600;
				font-size: 20px;
				margin-right: 0.6em;
			}
		}
	}

	&-passive {
		background-color: #f1f1f1 !important;
		z-index: 3;

		span {
			&:first-child {
				color: #7df17b;
				font-weight: 600;
				font-size: 20px;
				margin-right: 0.6em;
			}

			&:last-child {
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
			}
		}
	}

	span {
		display: block;
	}
}

.button-component-disabled {
	opacity: 0.3 !important;
	background: rgba($color: #7df17b, $alpha: 0.3);
	box-shadow: initial !important;
}

.button-component-red {
	background: radial-gradient(
		114.3% 168% at 53.58% 24%,
		rgba(125, 241, 123, 0.705) 0%,
		#7df17b 100%
	);
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.39);
	color: #fff !important;
}

.button-component-gray {
	background: #f6f5f6 !important;
	color: #000 !important;
}

.button-component {
	&-selected,
	&-select {
		color: #696969 !important;
		height: 30px;
	}

	&-selected {
		background-color: #eaeaea !important;
	}

	&-select {
		background-color: #fff !important;
		border: 1px solid #eaeaea !important;
	}
}

.step-component {
	padding-bottom: 8px;
	display: flex;
	align-items: center;
	position: relative;

	.next-step-arrow {
		position: absolute;
		top: 0;
	}

	.first-arrow {
		right: -25px;
	}

	.second-arrow {
		right: -40px;
	}

	.red-line {
		width: 50px;
		display: block;
		background-color: #7df17b;
		height: 1px;
		margin: auto;
	}

	.fake-line {
		display: block;
		width: 1px;
		height: 1px;
	}

	&-gray {
		color: rgba($color: #000000, $alpha: 0.3);

		p {
			color: rgba($color: #000000, $alpha: 0.3);
		}
	}

	&-red {
		color: #7df17b;

		&-blur {
			opacity: 0.5;
		}

		p {
			color: #7df17b;
		}
	}
}

.Logo {
	position: absolute;
	top: 0;
}

.main-row {
	margin-top: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cell-image {
	margin-left: 10px;
}

.curve {
	display: flex;
	flex-direction: column;
	position: absolute !important;
	bottom: 30px !important;
}

.burger-list {
	margin-top: 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 5;
}

.buttonMake {
	border: 3px solid #fff !important;
}

.col-6 {
	width: 100% !important;
}

.space-between {
	justify-content: space-between !important;
}

.cell-icon {
	border-right: 0.5px solid #fff;
	display: flex;
	padding-right: 20px;
	margin-right: 20px;
	min-width: 50px !important;
	min-height: 50px !important;
	max-width: 50px !important;
	max-height: 50px !important;
	img {
		width: 100% !important;
		height: 100% !important;
	}
}

.about-cell {
	height: max-content;
	margin: 8px 0;
	border-radius: 13px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #33363f;
	padding: 20px;
}

.about-row {
	display: flex;
	padding-left: 10px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.burger-header {
	margin-bottom: 40px;
	width: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.advanced-header {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.become-list {
	height: max-content;
	font-size: 14px;
	font-family: "Inter";
}

.become-item {
	height: 100%;
}

.contact-row {
	width: 100%;
	margin-top: 16px;
}

.contact-input {
	padding: 12px;
	font-size: 14px;
	border-radius: 6px;
	border: none;
	outline: none;
	background: #33363f;
	width: 100%;
	height: 56px;
}

.advanced-row {
	margin-right: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-row {
	margin-left: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-input {
	height: 37px;
	padding-left: 0.5em;

	&::after,
	&::before {
		display: none !important;
	}

	input {
		padding: 0 !important;
	}
}

.border-radius-15 {
	border-radius: 15px;
}

.about-pic-wrapper {
	width: 100%;
	position: relative;

	@media screen and (min-width: 340px) {
		margin: auto;
		width: 320px;
	}
}

.red-box-shadow-about-pic {
	box-shadow: 1px 25px 57px -18px rgba(125, 241, 123, 0.6);
	-webkit-box-shadow: 1px 25px 57px -18px rgba(125, 241, 123, 0.6);
	-moz-box-shadow: 1px 25px 57px -18px rgba(125, 241, 123, 0.6);
	position: absolute;
	bottom: 1px;
	left: 5%;
	width: 90%;
	height: 140px;

	@media screen and (min-width: 350px) {
		width: 300px;
		left: 10px;
	}
}

.no-hover-menu-button {
	&:hover {
		background-color: #ffffff73 !important;
	}
}

.about-platform {
	width: 320px;
	height: 385px;
	border-radius: 15px;
	background-color: #7df17b;
	padding-top: 30px;
	color: #fff;

	.cell {
		height: 85px;
		margin-bottom: 1em;
	}

	h4 {
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		width: 210px;
		margin: auto;
		text-align: center;
		margin-bottom: 0.5em;
	}

	p {
		font-size: 13px;
		text-align: center;
		max-width: 140px;
		margin: auto;
		height: 100%;

		br {
			height: 0;
		}

		span {
			font-size: 30px;
			display: block;
			line-height: 30px;
		}
	}
}

.osago-result-video-wrapper {
	width: 320px;

	@media screen and (max-width: 340px) {
		width: 100%;
	}
}

.input-component-wrapper {
	input {
		border-radius: 4px;
		padding-left: 0.5em;
		height: 38px;
		background: #fff;
		width: 100%;
		border: 0;

		&:focus-visible {
			outline: none;
		}

		&:disabled {
			background: #f1f1f1;
		}
	}
}

.typing-text {
	white-space: nowrap;
	overflow: hidden;
	font-size: 15px;
	font-weight: 500;
	font-size: 14px;
	font-family: "Euclid Circular Regular";

	animation: animated-text 2s steps(29, end) 1s 1 normal both,
		animated-cursor 600ms steps(29, end);

	&__delay-2s {
		animation-delay: 2s;
	}
}

@keyframes animated-text {
	from {
		width: 0;
	}

	to {
		width: 200px;
	}
}

@keyframes animated-cursor {
	from {
		border-right-color: "transparent";
		border-right: 0;
	}

	to {
		border-right-color: transparent;
		border-right: 0;
	}
}

.mobile-cells-wrapper {
	width: 345px;

	@media screen and (max-width: 350px) {
		width: 320px;
	}

	@media screen and (max-width: 330px) {
		width: 280px;
	}
}

.css-hnex41-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
	.MuiOutlinedInput-notchedOutline {
	border-width: 0;
	border-color: transparent;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
	border-color: rgba(0, 0, 0, 0.03) !important;
}

.swiper-button-next {
	right: 0px !important;
	top: 30px !important;
}

.swiper-button-prev {
	left: 0px !important;
	top: 30px !important;
}

.calculate-button {
	color: #fff !important;
	height: 50px !important;
	text-transform: none !important;
	font-size: 16px !important;
	outline: 3px solid rgba(255, 255, 255, 0.37) !important;
	outline-offset: -6px !important;
	border: 3px solid #7df17b !important;
	background: #33363f !important;
	margin-bottom: 10px !important;
}

.MuiSlider-markLabel {
	color: #bbbbbb !important;
}

.MuiFormControlLabel-label {
	color: #fff;
}

.final-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #202020;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.final-income {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
